    <!-- HERO AREA -->
       <div  class="hero">
          <div class="container">
            <div class="row">
                <div class="col-12 text-center text-white intro">
                    <h6 class="hero-h6-1">We Connect You With Professionals</h6>
                    <h1 class="display-1 fw-bolder">Make your own style</h1>
                    <p>Are you a professional barber looking to connect with customers OR Are you also looking  for a profesional barber to give you a classic hair cut?
                       
                    </p>
                    <h6 class="hero-h6-2 mb-4">Online Barber Shop Is Here For You</h6>
                    <a href="" class="text-center text-uppercase " (click)="sendMessage()">Get in touch</a>
                </div>
            </div>
         </div>
       </div>


