 <section id="mission" class="mt-5">
        <!-- OUR MISSION CONTAINER -->
        <div class="container pt-5">
        <div class="row justify-content-center align-items-center">
            <!-- OUR MISSION IMAGE COLUMN -->
            <div class="col-lg-5 text-center mb-5 me-3">
                <img src="../images/staff-5.jpeg" alt="A beautiful lady">
            </div>
            <!-- OUR MISSION TEXT COLUMN -->
            <div class="col-lg-5 mission-text">
                <h3 class="fw-bolder">We care about your</h3>
                <h3 class="my-style fw-bold">Hair and Beard</h3>
                <p>
                Our expert stylists and aestheticians are dedicated to providing top-tier hair, skin, and nail services tailored to your
                individual needs. Whether you're looking for a bold new haircut, a rejuvenating facial, or flawless nail artistry, we
                combine the latest trends with personalized care to ensure you leave feeling confident and refreshed.
                </p>
                <ul>
                    <!-- USING ngFor TO RE LOOP THROUGH THE ARRAY IN THE COMPONENT CLASS AND RENDER THEM -->
                     @for (list of advertList; track $index) {
                        <li >
                        ✨{{ list }}
                        </li>
                     }
                    
               
                </ul>
            </div>
        </div>
        </div>
         <!-- BOOK APPOINTMENT BUTTON -->
        <div class="work-hrs">
            <a routerLink="/booking">Book an appointment</a>
        </div>
    </section>


