.side-text{
  writing-mode: vertical-lr;
  display: inline-block;
}
.side-text p{
   text-orientation: upright;
   letter-spacing: -12px !important;
}
.gallery-image{
 height: 300px;
 background-color: #996515;
  position: relative;
  
}

.gallery-image img{
    width: 100%;
    height: 95%;
    position: absolute;
    top: 0;
    right: -10%;
    bottom: 5%;
    left: 5%;
}

