.divider{
  margin-top: 200px;
}

.sidebar {
  background-color: rgb(10, 10, 36);

}
.active{
  background-color: #996515;
}
.redirect-btn{
  background-color: green;
  border-radius: 20px;
  color: #fff;
  padding: 10px 30px;
}