
  <div class="d-flex min-vh-100 justify-content-center ">
    
    <div class="sidebar text-white p-3 ">
      <span class="fs-4 offcanvas-title">{{currentStylist.bussinessName}}</span>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto ">
        <li class="nav-item">
          <a routerLink="summary" routerLinkActive="active" class="nav-link text-white">Dashboard</a>
        </li>
        <li><a routerLink="appointments" routerLinkActive="active" class="nav-link text-white">Appointments 
          @if (pendingAppointments.length > 0) {
            <span class="badge">{{ pendingAppointments.length}}</span>
          }
        </a></li>
        <li><a routerLink="customers" routerLinkActive="active" class="nav-link text-white">Customers</a></li>
        <li><a routerLink="profile" routerLinkActive="active" class="nav-link text-white">Profile</a></li>
        <li><a routerLink="settings" routerLinkActive="active" class="nav-link text-white">Settings</a></li>
      </ul>
      <hr class="divider">
      <div class="d-flex align-items-center text-white text-decoration-none justify-content-between">
        <div class="d-flex align-items-center"> 
          <div class="profile-pic">
            <p>{{currentStylist.firstName.slice(0, 1)}}{{currentStylist.lastName.slice(0, 1)}}</p>
          </div>
          <strong>{{currentStylist.firstName}} {{currentStylist.lastName}}</strong>
        </div>
        <a href="#" (click)="onLogOutClicked($event)"><i class="fas fa-sign-out-alt text-danger"></i></a>
      </div>
    </div>
  
    <!-- Main Content -->
    <div class=" main">
      <router-outlet></router-outlet>
    </div>
  </div>
  
 @if (showConfirmLogout) {
  <confirm-logout (confirmLogoutEvent)="confirmLogout($event)"></confirm-logout>
 }