@if (isLoading) {<app-loader></app-loader>}
<div class="container">
  <div class="display-btn-container">
    <button
      [ngClass]="{
        'pending-btn-selected': button === 'pending',
        'switch-btn': true
      }"
      (click)="switchTo($event)"
      value="pending"
    >
      <i class="fas fa-hourglass-half me-2 text-warning"></i>Pending
    </button>

    <button
      [ngClass]="{
        'confirmed-btn-selected': button === 'confirmed',
        'switch-btn': true
      }"
      (click)="switchTo($event)"
      value="confirmed"
    >
      <i class="fas fa-check text-success me-2"></i>Confirmed
    </button>

    <button
      [ngClass]="{
        'cancelled-btn-selected': button === 'cancelled',
        'switch-btn': true
      }"
      (click)="switchTo($event)"
      value="cancelled"
    >
      <i class="fas fa-times text-danger me-2"></i>Cancelled
    </button>

    <button
      [ngClass]="{
        'history-btn-selected': button === 'history',
        'switch-btn': true
      }"
      (click)="switchTo($event)"
      value="history"
    >
      <i class="fas fa-clock text-light me-2"></i>History
    </button>
  </div>

  @if (button === 'pending') {
  <h2 class="title">Pending Appointments</h2>
  <div class="main-admin-container pending-container">
    @if (pendingAppointments.length >0) {
    <div class="admin-content">
      <table>
        <tr>
          <th>Customer</th>
          <th>Style</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Price</th>
          <th>Confirm</th>
          <th>Cancel</th>
        </tr>

        @for (appt of pendingAppointments; track $index) {
        <tr>
          <td>{{ appt.fullName }}</td>
          <td>{{ appt.service }}</td>
          <td>{{ appt.dateTime | date }}</td>
          <td>{{ formatTime(appt.dateTime) }}</td>
          <td>{{ appt.duration }}mins</td>
          <td>{{ appt.price | currency : "GHS" : "symbol-narrow" }}</td>
          <td>
            <button class="confirm-btn" (click)="confirmAppointment(appt.id)">
              Confirm<i class="fa fa-check" aria-hidden="true"></i>
            </button>
          </td>
          <td>
            <button class="cancel-btn" (click)="rejectAppointment(appt.id)">
              Cancel<i class="fa fa-close" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        }
      </table>
    </div>
    }@else {
    <div class="no-pending">
      <p class="text-center fw-bold">No Pending Appointments</p>
    </div>
    }
  </div>

  } @if (button === 'confirmed') {
  <h2 class="title">Confirmed Appointments</h2>
  <div class="main-admin-container confirmed-container">
    @if (cornfirmedAppointments.length >0) {
    <div class="admin-content">
      <table>
        <tr class="header">
          <th>Customer</th>
          <th>Style</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Price</th>
          <th>Status</th>
        </tr>

        @for (appt of cornfirmedAppointments; track $index) {
        <tr>
          <td>{{ appt.fullName }}</td>
          <td>{{ appt.service }}</td>
          <td>{{ appt.dateTime | date }}</td>
          <td>{{ formatTime(appt.dateTime) }}</td>
          <td>{{ appt.duration }}mins</td>
          <td>{{ appt.price | currency : "GHS" : "symbol-narrow" }}</td>
          <td>
            {{ appt.status }}
          </td>
        </tr>
        }
      </table>
    </div>
    }@else {
    <div class="no-pending">
      <p class="text-center fw-bold">No Confirmed Appointments</p>
    </div>
    }
  </div>

  } @if (button === 'cancelled') {
  <h2 class="title">Cancelled Appointments</h2>
  <div class="main-admin-container cancelled-container">
    @if (rejectedAppointments.length >0) {
    <div class="admin-content">
      <table>
        <tr>
          <th>Customer</th>
          <th>Style</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Price</th>
          <th>Status</th>
        </tr>

        @for (appt of rejectedAppointments; track $index) {
        <tr>
          <td>{{ appt.fullName }}</td>
          <td>{{ appt.service }}</td>
          <td>{{ appt.dateTime | date }}</td>
          <td>{{ formatTime(appt.dateTime) }}</td>
          <td>{{ appt.duration }}mins</td>
          <td>{{ appt.price | currency : "GHS" : "symbol-narrow" }}</td>
          <td>
            {{ appt.status }}
          </td>
        </tr>
        }
      </table>
    </div>
    }@else {
    <div class="no-pending">
      <p class="text-center fw-bold">No Cancelled Appointments</p>
    </div>
    }
  </div>

  } @if (button === 'history') {
  <h2 class="title">Appointments History</h2>
  <div class="main-admin-container history-container">
    @if (pastAppointments.length >0) {
    <div class="admin-content">
      <table>
        <tr>
          <th>Customer</th>
          <th>Style</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Price</th>
          <th>Status</th>
        </tr>

        @for (appt of pastAppointments; track $index) {
        <tr class="headers">
          <td>{{ appt.fullName }}</td>
          <td>{{ appt.service }}</td>
          <td>{{ appt.dateTime | date }}</td>
          <td>{{ formatTime(appt.dateTime) }}</td>
          <td>{{ appt.duration }}mins</td>
          <td>{{ appt.price | currency : "GHS" : "symbol-narrow" }}</td>
          <td>
            {{ appt.status }}
          </td>
        </tr>
        }
      </table>
    </div>
    }@else {
    <div class="no-pending">
      <p class="text-center fw-bold">No Appointments History</p>
    </div>
    }
  </div>
  }
</div>
