
    <section id="about">
        <!-- ABOUT CONTAINER -->
            <div class="container">
                <div class="row justify-content-center align-items-center ">
                    <!-- ABOUT US TEXT COLUMN -->
                    <div class="col-lg-5 text-start text-white mt-5 about-us-text">
                        <h2><span class="space-letter">We <span class="my-style">Make</span> Your Life</span> <br><span 
                            class="display-3 fw-bolder">Easier</span></h2>
                            <p>
                                <!-- about paragraph 1 -->
                                 {{firstParagraph}}
                            </p>
                            <p>
                                <!-- second paragraph -->
                                 {{secondParagraph}}
                            </p>
                            <hr>
                    
                    </div>
                    <!-- ABOUT US IMAGE COLUMN -->
                    <div class="col-lg-5 about-image ms-lg-4 mt-5">
                        <img src="../images/picture-1.jpeg" alt="">
                    </div>
                </div>
                <!-- ADDITIONAL TEXT -->
                <div class="row justify-content-center more-about mt-4">
                    <p class="text-white">
                        {{extraPragraph}}
                    </p>
                </div>
                 <!-- WORKING OURS -->
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-5 text-white work-hrs mt-4">
                        <h3>Business Hours</h3>
                        <div class="row">
                            <div class="col-4">
                                <h6 class="my-style">Mon - Fri</h6>
                                <p>10 AM - 08 PM</p>
                            </div>
                            <div class="col-4">
                                <h6 class="my-style">Saturday</h6>
                                <p>10 AM - 08 PM</p>
                            </div>
                            <div class="col-4">
                                <h6 class="my-style">Sunday</h6>
                                <p>10 AM - 08 PM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mt-3 work-hrs ms-lg-5">
                        <a href="">Book an appointment</a>
                    </div>
                </div>
            </div>
    </section>

