 <div class="container top-nav">

    <div class="row justify-content-between">
      <!-- links -->
      <div class="col-auto links ms-auto ">
        <div class="social-links">
          <!-- DYNAMICALLY GENERATING THE NAVIGATION LINKS WITH NGFOR DIRECTIVE -->
           @for (item of iconList; track $index) {
            <a  href="#"><i class= {{item}}></i></a>
          }
          
        
        </div>
      </div>

      <div class="navigation col-auto links">
        <a routerLink="home" fragment="top">Top</a>
        <a routerLink="home" fragment="about">About</a>
        <a routerLink="home" fragment="styles">Popular Styles</a>
        <a routerLink="home" fragment="top-stylist">Popular Stylists</a>
        <a routerLink="home" fragment="subscribe">Subscribe</a>
        <a routerLink="home" fragment="testimony">Testimonies</a>
      </div>
    </div>

  </div>