 <div class="container top-nav">

    <div class="row justify-content-between align-items-center">

      <!-- email link -->
      <div class="col-auto">
        <a href="#" class="top-left">barbershop<i class="fa-solid fa-at"></i>mail.com</a>
     </div>
      <!-- working hours -->
      <div class="col-auto text-white ">
          <p class="working-hrs">Monday-Saturday, 08 Am - 09 Pm</p>
      </div>

      <!-- links -->
      <div class="col-auto links">
        <div class="social-links">
          <!-- DYNAMICALLY GENERATING THE NAVIGATION LINKS WITH NGFOR DIRECTIVE -->
           @for (item of iconList; track $index) {
            <a  href="#"><i class= {{item}}></i></a>
          }
          
        
        </div>
      </div>

    </div>

  </div>