a{
    text-decoration: none;
    color: #fff !important;
}

/* TOP NAV */
.top-nav p, a, i{
    font-size: 12px;
}
.top-left{
    color: #996515 !important;
}
.social-links a{
    padding: 3px;
    border-radius: 100%;
    background-color: #996515;
    transition: all 0.4s ease;
}
.social-links a:hover{
    background: transparent;
    color: #fd9a06 !important;
}
.working-hrs{
    margin-top: 20px;
}
.top-nav{
    height: 35px;
    margin-bottom: 5px;
}

@media screen and (max-width: 780px) {
    .links {
       display: none;
    }
}