
        <section id="subscribe" class="my-5">
            <!-- SUBSCRIBE CONTAINER -->
            <div class="container py-5">
                <div class="row justify-content-center align-items-center">
                    <!-- IMAGE COLUMN -->
                    <div class="col-lg-5">
                         <img src="../images/clipper_3-removebg-preview.png" alt="">
                    </div>
                    <!-- FORM COLUMN -->
                    <div class="col-lg-5">
                        <h5 class="fw-bold text-white text-uppercase">Subscribe to our newsletter</h5>
                        <h1 class="fw-bold text-white text-capitalize">To get discount</h1>                 
                          <p class="text-light">
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Ipsam, quia.
                          </p>
                            <form class="input">
                                 <input type="email" name="" id="" placeholder="Enter your email" class="py-3 ps-2">
                                 <a href="#" class="py-3 px-5 text-white">Subscribe</a>
                            </form>
                            
                     
                    </div>
                </div>
            </div>
        </section>

