    <section id="mission-2" class="mb-5">
        <!-- Mission-2 container -->
       
            <div class="row">
                <!-- Price tag column -->
                <div class="col-lg-2  price-tag">
                   <div class="row justify-content-center py-5">
                    <!-- PRICE TAG 1 USING ngFor to loop through the styles list to render the first 4 items-->
                     @for (stl of style | slice: 0 : 4; track $index) {
                         <div class="mb-4 text-center" >
                            <h5>{{stl.name}}</h5>
                            <h6 class="text-white">{{stl.price}}ghs</h6>
                            <a href="#">Book Now</a>
                        </div>
                     }
                        
                    </div>
                </div>
                <!-- main section of mission-2 -->
                <div class="col-lg-10 main-area">
                    <div class="row py-5 justify-content-center">
                        <!-- MAIN AREA TEXT -->
                        <div class="col-lg-5">
                            <div class="row">
                                <h3 class="text-white fw-bold">We do our best to</h3>
                                <h3 class="my-style fw-bold">Satisfy you</h3>
                                <h6 class="text-white fw-bold">Precision Cuts. Classic Style. Modern Grooming.</h6>
                                <p class="text-white">
                                     Our skilled barbers are dedicated to delivering sharp, tailored haircuts and grooming services that enhance your look and confidence.
                                <br> <br>
                                    Whether you need a classic taper, a fresh fade, or a straight-razor shave, we provide meticulous attention to detail in every service.
                                </p>
                            </div>
                             <div class="row">
                                @for (item of wrkHrs; track $index) {
                                   <div class="col-4">
                                    <h6 class="my-style">{{item.days}}</h6>
                                    <p class="text-white">{{item.hrs}}</p>
                                   </div>
                                }
                             </div>
                         </div>
                        <!-- MAIN AREA IMAGE -->
                        <div class="col-lg-5 mt-5">
                            <div class="custom-image">
                                <img src="../images/we-do-our-best.jpeg" alt="A barber">
                                <p class="text-white text-center">Excellent Grooming Service</p>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </section>

