<div class="search--container">
  <input type="search" name="search" id="search" placeholder="Search by style's name" #searchInput>
  <button (click)="searchServices()"><i class="fas fa-search"></i></button>
</div>
  
<div class="services-container">
 @if (searchInput.value) {
  <p style="width: 100%; margin-left: 100px;" class="fw-bold">Search Results For: <span class="ms-2 fw-normal">{{searchedKeyWord}}</span></p>
 }
  @for (service of listOfServices; track $index) {
   @if (searchedKeyWord === '' || service.name.toLowerCase().includes(searchedKeyWord)) {
    <div class="row">
      <div class="services-item mx-4">
        <div class="wishlist-sale-container">
            <i class="fa-solid fa-eye text-white" title="view style"></i>
        
          <div class="tag">75% OFF</div>
        </div>
        <div class="services--image">
          <img [src]="service.image" class="services--image">
        </div>
        <div class="add--to--price ">
          ghs <span class="ms-1">{{service.price}}</span>
        </div>
        <div class="services--name">{{service.name}}</div>
        <div class="services--category">{{service.gender}} . {{service.category}} . {{service.brand}}</div>
        <div class="services--desc">{{service.description}}</div>
       <div class="cta-container">
        <a (click)="selectStyle(service)" class="choose-style-btn" #select>Choose Style</a>
        <div class="duration">
          <p><span >Duration:</span> {{service.duration}}mins</p>
        </div>
       </div>
      </div>
    </div>
   }
  }
</div>