img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.stylist-container {
  height: 400px;
  margin-bottom: 30px;
}


h4 {
  text-align: center;
  color: #996515;
  margin-bottom: 20px;
}

a {
  background-color: #996515;
  padding: 5px;
}