
.myCard{
  background-color: rgb(10, 10, 36);
  margin: 5px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 400 !important;
  font-size: 12px !important;
  width: 230px;
  border-radius: 10px;
}

h4{
  margin-top: -15px;
  color: #996515;
}
.appointments-container{
    border: 1px rgba(10, 10, 36, 0.5) solid;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(10, 10, 36, 0.1) ;
}
.calender-wrapper{
  margin-left: 10px;
  overflow: hidden;
  background-color: rgba(10, 10, 36, 0.1);
  padding: 2px;
  width: 100%;
  border-radius: 5px;
}
.calendar-view{
  height: 100%;
}
.cal-title{
  margin-left: 10px;
}
:host ::ng-deep .calendar-view .cal-month-view .cal-day-cell {
  min-height: 30px;
  font-size: 8px;
}

:host ::ng-deep .calendar-view .cal-event {
  font-size: 11px;
  margin: 1px;
  padding: 1px 3px;
}
:host ::ng-deep .calendar-view .cal-cell-top {
 height: 40px;
 min-height: 40px;
 flex: none;
}

:host ::ng-deep .calendar-view .cal-month-view .cal-header {
  height: 40px;
  font-size: 12px;
}
.appointments{
  background-color: rgba(10, 10, 36, 0.5);
  padding: 2px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.bottom-text{
  margin-top: -20px;
  margin-bottom: -10px;
}
.style-name{
  color: rgba(255, 255, 255, 0.712);
}
.top-text{
  color: #fff;
  font-weight: 700;
}

.status{
  border-radius: 20px;
    padding: 0 20px;
    color: #fff;
      font-size: 12px;
      margin-top: 5px;
      margin-right: -10px;
}
.confirmed{
  background-color: rgba(12, 167, 12, 0.438);
  
  
}

.pending {
  background-color: rgb(180, 120, 9);

}

.cancelled {
  background-color: red;
}
.bold-text{
  font-weight: bold;
}