  <footer>
     <div class="container py-3">
        <div class="row">
            <!-- DYNAMICALLY GENERATING THE CONTENT WITH NGFOR DIRECTIVE -->
             @for (title of listOfTitles; track $index) {
                <div class="col-lg-3" >
                <h6 class="my-style text-start title">{{title.group.title}}</h6>
                @for (list of title.group.items; track $index) {
                  <ul>
                     <li>
                        {{list}}
                     </li>
                  </ul>
                }
                
            </div>
             }
            

        </div>
     </div>
     <div class="text-center">
        <a href=""><i class="fas fa-copyright"></i> 2025 All rights reserved <span class="my-style fw-bold">Alaska</span> web development</a>
     </div>
   </footer>

