  <footer>
     <div class="container py-3">
        <div class="row">
            <!-- DYNAMICALLY GENERATING THE CONTENT WITH NGFOR DIRECTIVE -->
             @for (title of listOfTitles; track $index) {
                <div class="col-lg-3" >
                @if (title.group.title !== 'Language') {
                  <h6 class="my-style text-start title">{{title.group.title}}</h6>
                  @for (list of title.group.items; track $index) {
                  <ul>
                     <li>
                        {{list.label}}
                     </li>
                  </ul>
                  }
                } @else {
                  <select name="lang" id="lang" class="bg-transparent text-white ms-4 border-transparent">
                     @for (option of title.group.items; track $index) {
                        <option [value]="option.value" class="bg-transparent text-black">{{option.label}}</option>
                     }
                  </select>
                }
                
            </div>
             }
            

        </div>
     </div>
     <div class="text-center">
        <a href=""><i class="fas fa-copyright"></i> 2025 All rights reserved <span class="my-style fw-bold">Alaska</span> web development</a>
     </div>
   </footer>

