/* MAIN NAVIGATIONS */
.navbar{
    background-color: rgba(0, 0, 0, 0.575);
  
}

/* logo */
.navbar-brand span{
    color: #996515;
}

.appointment{
    background-color: #996515;
    padding: 10px 30px;
    margin: 0 60px;
    transition: all 0.5s ease;
}
.appointment:hover{
    background: transparent;
}
.navbar-nav a{
    margin: 0 10px !important;
    transition: all 0.5s ease;
    color: #fff;
    cursor: pointer;
}

.navbar-nav a:hover{
    color: #996515 !important;
}

.active{
    background: none;
    color: #996515 !important;
    font-weight: bold;
}