 <!-- MAIN NAVIGATION -->
<nav class="navbar navbar-expand-lg mt-3">
  <!-- MAIN NAVIGATION CONTAINER -->
  <div class="container">
  <!-- BRAND LOGO -->
    <a class="navbar-brand text-white" href="#">Online<span>Barber</span>Shop</a>
    <!-- TOGGLE BUTTON ON SMALL SCRENS -->
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <!-- NAVIGATION BAR ITEMS ONLY APPEARS ON WIDE SCREENS -->
    <div class="collapse navbar-collapse justify-content-between 
    " id="navbarSupportedContent">
    <!-- navigation link -->
    <ul class="navbar-nav ms-auto ">
       <!-- BOOK AN APPOINTMENT BUTTON -->
    <li class="nav-item text-center">
        <a class="nav-link appointment" (click)="showMessage()" href="#">Book An Appointment</a>
    </li>
    <!-- generating the html for the navigation links-->
     @for (item of mainNavItems; track $index) {
       <li class="nav-item">
        <a class="nav-link " href="#home" (click)="showMessage()">{{item}}</a>
    </li>
     }
   
    </ul>
    </div>
  </div>
</nav>

