<div class="container">
  <div class="display-btn-container">
    <button class="pending-btn" (click)="switchTo($event)">Pending</button>
    <button class="confirmed-btn" (click)="switchTo($event)">Confirmed</button>
    <button class="cancelled-btn" (click)="switchTo($event)">Cancelled</button>
    <button class="history-btn" (click)="switchTo($event)">History</button>
  </div>

  @if (button === 'Pending') {
  <h2 class="title">Pending Appointments</h2>
  <div [ngStyle]="{'background-color': pendingAppointments.length === 0 ? '#fff' : 'rgb(180, 120, 9)'} "
    class="main-admin-container">
    @if (pendingAppointments.length >0) {
    <div class="admin-content">
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Style</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Confirm</th>
          <th>Cancel</th>
        </tr>

        @for (appt of pendingAppointments; track $index) {
        <tr>
          <td>{{ appt.id }}</td>
          <td>{{ appt.fullName }}</td>
          <td>{{ appt.service }}</td>
          <td>{{ appt.date }}</td>
          <td>{{ appt.time }}</td>
          <td>{{ appt.duration }}mins</td>
          <td>
            {{appt.status}}
          </td>
         
        </tr>
        }
      </table>
    </div>
    }@else {
    <div class="no-pending">
      <p class="text-center fw-bold">No Pending Appointments</p>
    </div>
    }
  </div>
  }

  @if (button === 'Confirmed') {
  <h2 class="title">Confirmed Appointments</h2>
  <div [ngStyle]="{'background-color': confirmedAppointments.length === 0 ? '#fff' : 'darkgreen'}">
    <div class="main-admin-container">
      @if (confirmedAppointments.length >0) {
      <div class="admin-content">
        <table>
          <tr class="header">
            <th>ID</th>
            <th>Name</th>
            <th>Style</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Status</th>

          </tr>

          @for (appt of confirmedAppointments; track $index) {
          <tr>
            <td>{{ appt.id }}</td>
            <td>{{ appt.fullName }}</td>
            <td>{{ appt.service }}</td>
            <td>{{ appt.date }}</td>
            <td>{{ appt.time }}</td>
            <td>{{ appt.duration }}mins</td>
            <td>
              {{appt.status}}
            </td>

          </tr>
          }
        </table>
      </div>
      }@else {
      <div class="no-pending">
        <p class="text-center fw-bold">No Confirmed Appointments</p>
      </div>
      }
    </div>

  </div>
  }

  @if (button === 'Cancelled') {
  <h2 class="title">Cancelled Appointments</h2>
  <div [ngStyle]="{'background-color': rejectedAppointments.length === 0 ? '#fff' : 'darkred'}"
    class="main-admin-container">
    @if (rejectedAppointments.length >0) {
    <div class="admin-content">
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Style</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Status</th>

        </tr>

        @for (appt of rejectedAppointments; track $index) {
        <tr>
          <td>{{ appt.id }}</td>
          <td>{{ appt.fullName }}</td>
          <td>{{ appt.service }}</td>
          <td>{{ appt.date }}</td>
          <td>{{ appt.time }}</td>
          <td>{{ appt.duration }}mins</td>
          <td>
            {{appt.status}}
          </td>

        </tr>
        }
      </table>
    </div>
    }@else {
    <div class="no-pending">
      <p class="text-center fw-bold">No Cancelled Appointments</p>
    </div>
    }
  </div>
  }

  @if (button === 'History') {
  <h2 class="title">Appointments History</h2>
  <div [ngStyle]="{'background-color': pastAppointments.length === 0 ? '#fff' : 'grey'}" class="main-admin-container">
    <!--HEADER WITH LOGO AND FILTER DROPDOWN-->
    @if (pastAppointments.length >0) {
    <div class="admin-content">
      <table>
        <!--TABLE HRADER-->
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Style</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Status</th>

        </tr>

        @for (appt of pastAppointments; track $index) {
        <tr class="headers">
          <td>{{ appt.id }}</td>
          <td>{{ appt.fullName }}</td>
          <td>{{ appt.service }}</td>
          <td>{{ appt.date }}</td>
          <td>{{ appt.time }}</td>
          <td>{{ appt.duration }}mins</td>
          <td>
            {{appt.status}}
          </td>

        </tr>
        }
      </table>
    </div>
    }@else {
    <div class="no-pending">
      <p class="text-center fw-bold">No Appointments History</p>
    </div>
    }
  </div>
  }

</div>