

.btn-primary:hover,
.btn-primary:focus {
  background-color: #cf8311;
  border-color: #cf8311;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  background-color: #996515;
    padding: 5px;
    margin: 0 20%;
}

.card-container{
  z-index: 2;
  margin-bottom: 30px;
}

.card-container .card {
  position: relative;
  min-height: 312px;
  border-radius: 30% 0 30% 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-container .card .card-title{
  color: #996515 !important;
}

.card-container .card .card-body img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.view-details {
  position: absolute;
  top: 2%;
  right: 1%;
  font-size: 18px;
  color: #996515;
}
.view-detailsi:hover {
  color: #cf8311;
}
ul i{
  color: #cf8311;
}
