<h1 class="text-center mt-5">List Of Stylist</h1>

<app-filter></app-filter>

<div class="container my-5">
  <div class="row">
    <!-- for all of the stylist in the database we are checking if their service category equal the filtered category -->
    @for (stylist of listOfStylists; track $index) { @if (filterCategory ===
    'all' || stylist.serviceType.toLowerCase().includes(filterCategory)) {
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-container">
        <div class="card">
          <div class="view-details">
            <i
              [routerLink]="'/stylists/stylist/' + stylist.id"
              class="fa-solid fa-eye"
              title="View Stylist Details"
            ></i>
          </div>
          <div class="card-body text-center">
            <p class="user-avatar">{{ stylist.firstName }}</p>
            <h4 class="card-title">{{ stylist.bussinessName }}</h4>
            <p class="card-text">{{ stylist.serviceType }}</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="social-icon text-xs-center" target="_blank" href="#">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="social-icon text-xs-center" target="_blank" href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="social-icon text-xs-center" target="_blank" href="#">
                  <i class="fab fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="social-icon text-xs-center" target="_blank" href="#">
                  <i class="fab fa-google"></i>
                </a>
              </li>
            </ul>
            <a (click)="chooseStylist(stylist)" class="btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
    } }
  </div>
</div>
