<div class="container ">
  <div class="col-10 mx-auto my-4">
    <h1 class="text-center">Sign Up</h1>
 
    
    <div class="signup-type-selector">
      <span>I'm signing up as a: </span>

      <span class="customer-selector">
        <input type="radio" name="signup-type" id="customer" value="customer" [(ngModel)]="selectedSignupType">
        <label class="label" for="customer">Customer</label>
      </span>
      
     <span class="stylist-selector">
       <input type="radio" name="signup-type" id="stylist" value="stylist" [(ngModel)]="selectedSignupType">
       <label class="label" for="stylist">Stylist</label>
     </span>
    </div>

    @if (selectedSignupType === 'stylist') {
      <label for="shop-name">Shop Name</label> <br>
      <input class="form-input" type="text" name="shop-name" id="shop-name" required [(ngModel)]="model.shopName">
    }
    
    <label for="fName">Full Name</label> <br>
    <input class="form-input" type="text" name="fName" id="fName" required [(ngModel)]="model.fullName">
    
    <label for="email">Email</label> <br>
    <input class="form-input" type="text" name="email" id="email" required [(ngModel)]="model.email">
    
    <label for="phone">Phone Number</label> <br>
    <input class="form-input" type="tel" name="phone" id="phone" required [(ngModel)]="model.phoneNum">

    <label for="user-name">User Name</label> <br>
    <input class="form-input" type="text" name="user-name" id="user-name" required [(ngModel)]="model.userName">

    <label for="password">Password</label> <br>
    <input class="form-input" type="password" name="password" id="password" required [(ngModel)]="model.password">

    <label for="">Gender</label> <br>
    <select name="" id="" [(ngModel)]="model.gender">
      <option value="">Choose Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <!-- <input class="form-input" type="text" name="" id="" required [(ngModel)]="model.gender"> -->

    
    @if (selectedSignupType === 'stylist') {
      <label for="">Service Type</label> <br>
      <select name="" id="" [(ngModel)]="model.serviceType">
        <option value="">Choose Service Type</option>
        <option value="Unisex Salon Service">Unisex Salon Service</option>
        <option value="Barber Salon Service">Barber Salon Service</option>
        <option value="Beauty Salon Service">Beauty Salon Service</option>
      </select>

    }
    <a (click)="signUp()">Signup</a>
  </div>

</div>

