
.form{
  border: 1px solid rgba(10, 10, 36, 0.1);
  background-color: #fff;
  border-radius: 2%;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}
  
.container .form-input, 
select{
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(10, 10, 36, 0.1);
  font-size: 14px;
}
.container label{
  color: #996515;
  font-weight: 800;
 
}

.sign-up-btn{
  background-color: rgb(10, 10, 36);
  padding: 0.3rem 2rem;
  cursor: pointer;
  color: #fff !important;
  width: 100%;
}

.sign-up-btn:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}
.signup-type-selector{
  display: inline-flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.signup-type-selector .label{
  margin-left: 5px;
}
.stylist-selector, .customer-selector{
  display: flex;
  align-items: center;
}

h1{
  margin: 30px;
  font-weight: bold;
  text-decoration: underline;
}

select{
  font-size: 14px;
}

.signin-link {
  cursor: pointer;
  color: #996515;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 20px 50px;
  border-radius: 8px;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 20px;
}

.form .input-box {
  width: 100%;
  margin-top: 5px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  /* border: 1px solid #ddd; */
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}







/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

.form-shadow {
  box-shadow: rgba(187, 185, 185, 0.35) 0px 5px 15px;
}


input.ng-invalid.ng-touched{
  border-bottom: red 1px solid !important;
}