
.container {
  width: 480px;
  border: 1px solid #996515;
  background-color: #fff;
  border-radius: 2%;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19)
}

.container .form-input {
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #996515;
  font-size: 14px;
}
.container label {
  color: #996515;
  font-weight: 800;

}

.login-btn{
  background-color: #996515;
  padding: 0.3rem 2rem;
  cursor: pointer;
  color: #fff !important;
  width: 100%;
  margin-top: 10px;
}
.login-btn:disabled{
  /* pointer-events: none; */
  cursor: not-allowed;
  opacity: 0.5;
}
.err{
  color: red;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}
.success{
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
}
.signup-link{
  cursor: pointer;
  color: #996515;
} 
h1{
  text-decoration: underline;
}

.toast{
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: rgba(7, 252, 7, 0.397);
  color: #fff;
}

