<!-- title -->
<h2 class="text-center fw-bold mt-4">Styles</h2>

<!-------------------------------------------------------------------------------
generating dynamic html with ngFor directive and applying some bootstrap stylings 
-------------------------------------------------------------------------------->
  <div class="container-fluid my-4 swiper-container" >
    <div class="swiper-wrapper">
      @for ( style of styles; track $index) 
      {    
         <div  class="swiper-slide">
          <div class="my-card px-0 mx-auto ">
            <img [src]="style.image" class="my-card-img me-3" alt="A barber">
            <div class="my-card-body">
              <h5 class="my-card-title">{{style.title}}</h5>
              <p class="my-card-text">Price: {{style.price}} ghs</p>
              <a href="#" class="btn btn-primary py-0">{{style.link}}</a>
            </div>
          </div>
        </div>}
   
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

