@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@import 'swiper/css/autoplay';
.stylist-detail-main-container {
  width: 80%;
  margin: 50px auto;
  background-color: #efefef;
  padding: 10px 0px;
}

.stylist-detail-container {
  width: 90%;
  margin: 20px auto;
  padding: 10px 10px;
  display: flex;
}

.stylist-details {
  width: 70%;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.stylist-banner-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.stylist-title {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
}

.stylist-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0px;
  background-color: rgb(10, 10, 36);
  padding: 10px;
}

.stylist-info-category,
.stylist-info-location,
.stylist-info-author {
  text-align: start;
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
}

.stylist-info-location,
.stylist-info-author{
  width: 50%;
}
.stylist-info-category{
  width: 80%;
  font-size: 18px;
  text-align: center;
}

.stylist-bio {
  padding: 30px 50px;
  font-size: 14px;
}

.stylist-info-category b,
.stylist-info-location b,
.stylist-info-author b{
  color: #996515;
}

.stylist-info-divider{
  width: 100%;
  background-color: #996515 !important;
}
hr {
  margin: 10px 0px;
  border: #DDD 2px solid;
}



.stylist-action-items {
  width: 28%;
  margin-left: 20px;
  padding: 5px 5px;
  background-color: #fff;
  box-shadow: rgba(10,  10, 36, 0.2) 0px 2px 8px 0px;
}

.side-bar-banner {
  width: 100%;
  height: 200px;
  background-color: rgb(10, 10, 36);
  text-align: center;
  padding: 70px 20px;
  color: white;
}

.stylist-selection-cat,
.stylist-apply-coupon {
  display: flex;
  width: 100%;
}

.stylist-selection-personal {
  width: 50%;
  padding: 10px 0px;
  text-align: center;
  border-bottom: #28282B 2px solid;
}

.stylist-selection-team {
  width: 50%;
  padding: 10px 0px;
  text-align: center;
  border-bottom: #dddddd 2px solid;
}

.stylist-price-discount {
  padding: 15px 20px;
}

.offer-timer {
  color: #996515 ;
  font-size: 14px;
  padding: 5px 5px;
}

.book-stylist-button {
  padding: 10px 30px;
  width: 90%;
  margin: 10px 15px;
  border: none;
  background-color: #996515;
  color: white;
}

.guarantee-div {
  width: 100%;
  padding: 10px 50px;
  text-align: center;
  font-size: 12px;
}

.stylist-selection-gift,
.stylist-selection-coupon {
  width: 50%;
  padding: 10px 0px;
  text-align: center;
  font-size: 14px;
  color: #28282B;
  font-weight: bold;
}

.stylist-selection-gift>a,
.stylist-selection-coupon>a {
  color: #28282B;
  font-weight: bold;
}

.divider {
  border-bottom: #ddd 2px solid;
  margin: 30px 0px;
}

.divider-message {
  width: 30px;
  height: 30px;
  padding: 4px 7px;
  font-size: 12px;
  border: #ddd 2px solid;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: -15px;
  margin-left: auto;
  margin-right: auto;
  color: #888;
}

.subscribe-to {
  width: 100%;
  font-size: 18px;
  padding: 20px 20px;
}

.subscribe-to>p {
  font-size: 12px;
  margin: 20px 0px;
}

.subscribe-to>p>a {
  font-weight: bold;
  color: #996515;
}

.subscribe-premium-button {
  padding: 10px 30px;
  width: 90%;
  margin: 10px 15px;
  border: #996515 2px solid;
  color: #996515;
  background-color: white;
}


.portfolio-swiper-container{
  width: 100%;
  height: 250px;
  overflow: hidden;
  padding: 20px 20px;
  gap: 10px;
  background-color: rgba(10, 10, 36, 0.08);
  position: relative;
} 

.swiper-slide{
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

.portfolio-title{
  text-align: center;
}

.swiper-button-next, .swiper-button-prev{
  position: absolute;
  top: 50%;
  background-color: #996515;
  padding: 5px 8px;
  color: #fff;
  font-weight: bold;
  border-radius: 100%;
}

