.hero{
    background:linear-gradient(rgba(0, 0, 0, 0.829),
    rgba(0, 0, 0, 0.815)) ,
    url(../../../../public/images/hero-bg.jpeg);
    background-position: center;
    background-size: cover;
}

/* HERO AREA */
.intro{
    margin-top: 100px;
    margin-bottom: 40px;
}

.intro p{
    max-width: 500px;
    margin: auto;
}

.intro .hero-h6-2{
    margin-top: 20px;
    color: #996515;
    font-weight: 700;
}
.intro h6{
    font-weight: 700;
}

.intro .hero-h6-1::before{
    content: "";
    height: 2px;
    width: 50px;
    background-color: #996515;
    display: inline-block;
    margin-right: 10px;
}
.intro .hero-h6-1::after{
    content: "";
    height: 2px;
    width: 50px;
    background-color: #996515;
    display: inline-block;
    margin-left: 10px;
}
.intro a{
    background-color: #996515;
    padding: 15px;
    transition: all 0.4s ease;
    text-decoration: none;
    color: #fff;
}

.intro a:hover{
    background: transparent;
    color: #996515 !important;
}

